@charset "UTF-8";

/*
PALETA DE CORES 
VERDE: #49a09d
LILÃS: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background: url(../imagens/pexels-nikitapis.jpg) center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);

    transform: translate(-50%, -50%);
    background-color: white;
    width: 285px;
    height: 600px;
    border-radius: 20px;    
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/pexels-armandobel.jpg)center no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}
