@charset "UTF-8";

/*
PALETA DE CORES 
VERDE: #49a09d
LILÃS: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background: url(../imagens/pexels-nikitapis.jpg) center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    
    background-color: white;
    width: 280px;
    height: 580px;
    border-radius: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
     
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/pexels-armandobel.jpg)center no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario> h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div#campo {
    background-color: rgb(177, 179, 179);
    border: 2px solid darkgrey;
    display: block;
    width: 100%;
    height: 42px;
    border-radius: 8px;
    margin: 5px 0px;
}

div#campo > label {
    display: none;
}

div#campo > span {
    color: white;
    font-size: 1.5em;
    width: 40px;
    padding: 5px;
}

div#campo > input {
    font-size: 1em;
    width: calc(100% - 46px);
    height: 90%;
   
    border: 0px;
    border-radius: 8px;
    padding: 1px;
    transform: translateY(-8px);

}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(177, 179, 179);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

form > input[type=submit]:hover {
    background-color: rgb(113, 114, 114);
}

form > a.botao {
     display: block;
     text-align: center;
     font-size: 1em;
     width: 100%;
     height: 40px;
     background-color: rgb(255, 255, 255);
     color: rgb(102, 108, 114);
     border: 1px solid black;
     border-radius: 8px;
     text-decoration: none;
}

form > a.botao:hover {
    background-color: rgb(113, 114, 114);
    color: white;
}

form > a.botao > span {
    font-size: 0.8em
}
