@charset "UTF-8";

/*
PALETA DE CORES 
VERDE: #49a09d
LILÃS: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: url(../imagens/pexels-nikitapis.jpg) center no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

main {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 280px;
    height: 570px;
    border-radius: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s ease;
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/pexels-armandobel.jpg) center center no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 15px;
}

div#formulario> h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: rgb(177, 179, 179);
    border: 2px solid rgb(177, 179, 179);
    display: block;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 6px 0;
}

div.campo > label {
    display: none;
}

div.campo > span { 
    color: white;
    font-size: 20px;
    padding: 0 10px;
}

div.campo > input {
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
}

div.campo > input:focus-within {
    background-color: azure;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(177, 179, 179);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

form > input[type=submit]:hover {
    background-color: rgb(113, 114, 114);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: white;
    color: rgb(102, 108, 114);
    border: 1px solid rgb(143, 140, 140);
    border-radius: 8px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: rgb(113, 114, 114);
    color: white;
}

form > a.botao > span {
    font-size: 0.8em;
}

